<% provide(:title, "My Profile") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
      </h1>
	<div>
	<div class="basic-info">	
		<%= @user.email %>			
	</div>
	<div class="address-info">
		<%= @address.address1 %>			
		<%= @address.address2 %>			
		<%= @address.city %>			
		<%= @address.state %>			
		<%= @address.country %>			
	</div>
	<div class="sub-info">
		<%= @charge.sub_type %>			
	</div>
	</div>
    </section>
  </aside>
</div>
