<% provide(:title, "Checkout") %>


		<%= form_for(@user) do |f| %>

			<%= render 'shared/error_messages' %>
			
			<h2>Billing Address</h2>
			<%= f.fields_for :address do |add| %>		

			<%= add.label :first_name %>
			<%= add.text_field :first_name %>

			<%= add.label :last_name %>
			<%= add.text_field :last_name %>

			<%= add.label :address1 %>
			<%= add.text_field :address1 %>

			<%= add.label :address2 %>
			<%= add.text_field :address2 %>

			<%= add.label :city %>
			<%= add.text_field :city %>

			<%= add.label :state %>
			<%= add.text_field :state %>

			<%= add.label :zip_code %>
			<%= add.text_field :zip_code %>

			<%= add.label :country %>
			<%= add.text_field :country %>
			
			<%= f.hidden_field :userid, :value => @user.id %>
	
			<% end %>
			<%= f.submit "Create my account", class: "btn btn-primary" %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
	<%= f.check_box :remember_me %>
	<span>Remember me on this computer.</span>
      <% end %>

		<% end %>
